@use "../_mixins";

.footer-widgets-wrap {
	@include mixins.background(--footer-background-color);
}

.footer-widgets {
	padding: 0;
}

.footer-widgets-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.footer-widget-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	box-sizing: border-box;
	width: 33.33333333333%;
	border-right: 1px solid;
	border-bottom: 1px solid;
	@include mixins.border-color(--footer-border-color);
}

.footer-widget-column:nth-child(3n) {
	border-right: none;
}

.footer-widget-column .widget {
	margin: 0;
	padding: 2.5em;
	border: none;
	background: none;
	@include mixins.color(--footer-text-color);
}

.footer-widget-column .widget-header {
	@include mixins.border-color(--footer-border-color);
}

.footer-widget-column .widget-title {
	@include mixins.color(--footer-link-color);
}

.footer-widget-column .widget a:link,
.footer-widget-column .widget a:visited {
	@include mixins.color(--footer-link-color);
}

.footer-widget-column .widget a:hover,
.footer-widget-column .widget a:active {
	@include mixins.color(--footer-link-hover-color);
}

/* Custom Footer Widgets */
#footer-widgets .tzwb-social-icons .social-icons-menu li a,
#footer-widgets .widget_tag_cloud .tagcloud a,
#footer-widgets .tzwb-tabbed-content .tzwb-tabnavi li a {
	@include mixins.background(--footer-border-color);
}

#footer-widgets .tzwb-social-icons .social-icons-menu li a:hover,
#footer-widgets .widget_tag_cloud .tagcloud a:hover,
#footer-widgets .widget_tag_cloud .tagcloud a:active,
#footer-widgets .tzwb-tabbed-content .tzwb-tabnavi li a:hover,
#footer-widgets .tzwb-tabbed-content .tzwb-tabnavi li a:active,
#footer-widgets .tzwb-tabbed-content .tzwb-tabnavi li a.current-tab {
	@include mixins.color(--footer-link-hover-color);
}

@media only screen and (max-width: 80em) {
	.footer-widget-column .widget {
		padding: 2em;
	}
}

@media only screen and (max-width: 60em) {
	.footer-widget-column {
		width: 50%;
	}

	.footer-widget-column:nth-child(3n) {
		border-right: 1px solid;
		@include mixins.border-color(--footer-border-color);
	}

	.footer-widget-column:nth-child(2n) {
		border-right: none;
	}
}

@media only screen and (max-width: 40em) {
	.footer-widget-column {
		display: block;
		float: none;
		width: 100%;
		border-right: none;
	}
}
